
@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center; padding-top:5rem;">
<h2>Thank you for registering on our website</h2>
    <br />
<h4>You can now @Html.ActionLink("login", "Login", "Customers")</h4>
</div>

